@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome admin@Absensi.com @User.Identity.Name</h1>
    <p>Learn about building Web apps with ASP.NET Core.</p>
    <div class="jumbotron text-center">
  <img src="~/images/fotosaya.jpeg" class="rounded-triangle img-thumbnail" width="200">
  <div class="container">
    <h1 class="display-4">UJANG MAULANA</h1>
    <p class="lead">2019804049</p>
    <p class="lead">SISTEM INFORMASI 6B</p>
  </div>
</div>
    <a href="/Login">LogOut</a>
    
   
</div>
